body{
  margin:0;
  font-family: 'Poppins', sans-serif;   /* New Font Style */
  background:#f5f5f5;
  color:#222;
}

/* Header */
header{
  padding:20px;
  text-align:center;
  background:#2c3e50;   /* Single Dark Blue */
}

.logo{
  font-size:40px;
  font-weight:bold;
  color:#ffffff;
  letter-spacing:4px;
}

nav{
  margin-top:10px;
}

nav a{
  text-decoration:none;
  margin:0 15px;
  font-weight:600;
  color:white;
}

nav a:hover{
  color:#f1c40f;   /* Yellow Hover */
}

/* Hero Section */
.hero{
  text-align:center;
  padding:100px 20px;
  background:#3498db;   /* Single Blue */
}

.hero h2{
  font-size:45px;
  color:white;
}

.hero p{
  font-size:20px;
  color:#ecf0f1;
}

.btn{
  display:inline-block;
  padding:12px 30px;
  background:#e74c3c;   /* Red Button */
  color:white;
  text-decoration:none;
  border-radius:30px;
  margin-top:20px;
  font-weight:bold;
}

.btn:hover{
  background:#c0392b;
}

/* Cards */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:50px;
}

.card{
  padding:40px;
  border-radius:15px;
  text-align:center;
  color:white;
  font-weight:bold;
  font-size:18px;
  transition:0.4s;
  background:#27ae60;   /* Single Green for All Cards */
}

.card:hover{
  transform:translateY(-10px);
}

/* Footer */
footer{
  text-align:center;
  padding:20px;
  background:#2c3e50;
  color:white;
}
