body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#ffffff;
  color:#333;
}

/* Header */
header{
  padding:20px;
  text-align:center;
  background:linear-gradient(90deg,#ff66b2,#3399ff,#66cc66);
}

.logo{
  font-size:40px;
  font-weight:bold;
  color:#ffffff;
  letter-spacing:4px;
}

nav{
  margin-top:10px;
}

nav a{
  text-decoration:none;
  margin:0 15px;
  font-weight:600;
  color:white;
}

nav a:hover{
  color:gold;
}

/* Hero Section */
.hero{
  text-align:center;
  padding:100px 20px;
  background:linear-gradient(to right,#ff99cc,#99ccff,#ffffff,#99ffcc);
}

.hero h2{
  font-size:45px;
  color:#ff1493;
}

.hero p{
  font-size:20px;
  color:#0066cc;
}

.btn{
  display:inline-block;
  padding:12px 30px;
  background:gold;
  color:white;
  text-decoration:none;
  border-radius:30px;
  margin-top:20px;
  font-weight:bold;
}

.btn:hover{
  background:#ff66b2;
}

/* Cards */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:50px;
}

.card{
  padding:40px;
  border-radius:15px;
  text-align:center;
  color:white;
  font-weight:bold;
  font-size:18px;
  transition:0.4s;
}

/* Different colors for each card */
.card:nth-child(1){background:#ff66b2;}   /* Pink */
.card:nth-child(2){background:#3399ff;}   /* Blue */
.card:nth-child(3){background:#66cc66;}   /* Green */
.card:nth-child(4){background:gold;}      /* Golden */

.card:hover{
  transform:translateY(-10px);
}

/* Footer */
footer{
  text-align:center;
  padding:20px;
  background:#f2f2f2;
  color:#333;
}
